<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit New Proposal</title>
    {% load bootstrap_tags %}
    {% load static %}
    {{ form.media }}
    <!--<script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>-->
    <!--<script type="text/javascript" src="{% static 'js/tinymce/custom.js' %}" ></script>-->

</head>
<body>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
        <div class="modal-footer">
		        <button type="submit" id="confirm_ok" class="btn btn-success">Ok</button>
		        <button type="button" id="confirm_discard" class="btn btn-default">Discard</button>
		      </div>
    </form>
</body>
</html>