{% extends "base.html" %}


{% block content %}
    <div class="row-fluid clearfix">
        <div class="col-md-10 col-md-offset-1">

            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0 push-3">
                    <div class="form-container space-2-bottom">
                        <h2 class="fill-blue text-center">Password Reset</h2>
                        <div class="pad-2 push-1-top push-2-bottom">

                            <p>We have sent you an e-mail for password reset.<br><br>Please contact us if you do not receive it within a few minutes.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}