{% extends "base.html" %}


{% block content %}
    <div class="row-fluid clearfix">
        <div class="col-md-10 col-md-offset-1">

            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0 push-3">
                    <div class="form-container space-2-bottom">
                        <h2 class="fill-blue text-center">Change Password</h2>
                        <div class="pad-2 push-1-top push-2-bottom">


                                    <form method="POST" action=".">
                                        {% csrf_token %}
                                        <p><label for="id_password1">New Password:</label> <input id="id_password1" name="password1" placeholder="New Password" type="password"></p>
        <p><label for="id_password2">New Password (again):</label> <input id="id_password2" name="password2" placeholder="New Password (again)" type="password"></p>
                                        <input type="submit" name="action" class="btn btn-primary" value="change password">
                                    </form>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}